<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>Welcome to hangman!</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/skeleton.css">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <h2>Create a word</h2>
    
    {% if not logged_in %}
    <p>You need to register first!</p>
    <a class="button" href="{{ url_for('register') }}">Register</a>    
    {% else %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% else %}
            <p>Add a word</p>
            {% endif %}
        {% endwith %}
    <form action="{{ url_for('add_word') }}" method="POST" autocomplete="off">
        <input type="text" , value="" name="word" maxlength="100" size="50" />
        <input class="button-primary" type="submit" value="Create word" />
    </form>
    {% endif %}
</body>
</html>