<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Hangman game is live!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Roboto:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
</head>

<body>
  <div class="container">
    <div id="main">
      <div class="row">
        <h1>Welcome to Hangman game!</h1>
      </div>
      <div class="row">
        <div id="word-elem"></div>
      </div>
      <div class="row">
        <div id="word-len"></div>
      </div>
      <div class="row">
        <div id="attempts-left"></div>
      </div>
      <div class="row">
        <div id="info"></div>
      </div>
      <div class="row">
        <h3>Available letters are:</h3>
      </div>
      <div class="row">
        <div id="available-letters"></div>
      </div>
      <div class="row">
        <h3>Guess a letter!</h3>
      </div>
      <div class="row">
        <form>
          <input type="text" maxlength="1" placeholder="Enter the letter">
          <button class="button-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
    <div class="row">
      <h2 id="try-again"></h2>
    </div>
  </div>

  <script>
    const form = document.querySelector('form');
    const wordLen = document.querySelector('div#word-len')
    const letterInput = document.querySelector('input');
    const wordElem = document.querySelector('div#word-elem');
    const attemptsElem = document.querySelector('div#attempts-left');
    const info = document.querySelector('div#info');
    const availableLetters = document.querySelector(
      "div#available-letters"
    )
    const tryAgain = document.querySelector("#try-again")
    const msg = {
      won: "You won!",
      lost: "You lost!"
    }

    function hide(...elems) {
      elems.forEach(el => el.style.display = "none");
    }

    function render(data) {
      wordElem.innerText = data.representation.split("").join(" ");
      wordLen.innerText = "Secret word is " + data.word_length + " letters long."
      attemptsElem.innerText = "Attempts left: " + data.attempts_left;
      info.style.display = '';
      availableLetters.innerText = data.available_letters
      if (data.message) {
        info.innerText = data.message;
        setTimeout(() => { info.style.display = 'none'; }, 3000);
      }
      if (data.result == "won" || data.result == "lost") {
        hide(document.querySelector("div#main"))
        document.cookie = "hangman_game_id" + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        tryAgain.innerText = msg[data.result] + " Would you like to try a different word? Refresh the page to start a new game"
      }
    }

    if (document.cookie.indexOf("hangman_game_id") == -1) {
      fetch(
        '/api/v1/word', { method: 'POST', credentials: 'same-origin' }
      ).then(
        res => res.json()
        ).then(
        json => render(json)
        );
    }
    else {
      fetch(
        '/api/v1/letter',
        { method: 'GET', credentials: 'same-origin' }
      ).then(
        res => res.json()
        ).then(
        json => render(json)
        )
    }

    form.addEventListener('submit', event => {
      event.preventDefault()
      const letter = letterInput.value;
      letterInput.value = '';
      fetch(
        '/api/v1/letter', {
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          credentials: 'same-origin',
          method: 'POST',
          body: JSON.stringify({ letter })
        }
      ).then(
        res => {
          if (res.ok) return res.json()
          else return Promise.reject(res.json())
        }
        ).then(
        json => {
          return render(json)
        }
        ).catch(
        error => {
          error.then(
            data => {
              console.log(data.message.hangman_game_id)
            }
          );
        }
        )
    });

  </script>

</body>

</html>