<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>Hangman game is live!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Roboto:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
</head>

<body>
  <div class="container">
    <div id="main">
      <div class="row">
        <h1>Welcome to Hangman game!</h1>
      </div>
      <div class="row">
        <div id="word-len"></div>
      </div>
      <div class="row">
        <div id="attempts-left"></div>
      </div>
      <div class="row">
        <div>Letters used:</div>
      </div> 
      <div class="row">
        <div id="letters-used" style="font-weight:bold">No letters have been used yet</div>
      </div>
      <div class="row">
        <div>Available letters are:</div>
      </div>
      <div class="row">
        <div id="available-letters" style="font-weight:bold"></div>
      </div>
      <div class="row">
        <div>Guess a letter!</div>
      </div>
      <div class="row">
        <div id="word-elem" style="font-size:150%"></div>
      </div>
      <div class="row">
        <div id="info" style="visibility:hidden; font-size: 150%">placeholder</div>
      </div>
      <div class="row">
        <form>
          <input type="text" maxlength="1" placeholder="Enter the letter">
          <button class="button-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
    <div class="row">
      <h3 id="result" style="display:none"> The original word was:</h3>
    </div>
    <div class="row">
      <h2 id="original-word"></h2>
    </div>
    <div class="row">
      <h3 id="try-again" style="display:none">Would you like to try a different word? Refresh the page to start a new game.</h3>
    </div>
  </div>

  <script src="/static/js/hangman.js"></script>

</body>

</html>