<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Welcome to Hangman!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Roboto:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Welcome to Hangman game!</h1>
        </div>
        <div class="row">
            <h2>Instructions:</h2>
        </div>

        <div class="row">
            <p>
                <ul>
                    <li>Computer randomly chooses a secret word</li>
                    <li>You have 8 attempts to guess the word</li>
                    <li>Every incorrect guess reduces attempts by 1</li>
                    <li>If you submit a letter that you've already tried, attempts are not reduced</li>
                </ul>
            </p>
        </div>
        <div class="row">
            <button class="button" onclick="location.href = '/hangman';">Play against the computer</button>
        </div>
        <div class="row">
            <h2>Or enter a word and send your friend a link to play!</h2>
        </div>
        <div id="word-input" class="row">
          <form method="POST">
            <input type="text" maxlength="32" required="true" placeholder="Enter a word">
            <button class="button-primary" type="submit">Generate a link</button>
          </form>
        </div>
    </div>
    <script>
        const form = document.querySelector("form");
        const input = document.querySelector("input");
        form.addEventListener('submit', event => {
          event.preventDefault();
          const word = input.value;

          fetch('/api/v1/game_link', {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
            credentials: 'same-origin',
            method: 'POST',
            body: JSON.stringify({ word })
          }).then(
            res => {
              if (res.ok) return res.json()
              else return Promise.reject(res.json())
            }
          ).then(data => {
            input.value = window.location.href + 'activate/' + data.game_uuid
            input.focus();
            input.select();
          })
        })
    </script>
</body>

</html>