<!DOCTYPE HTML>
<head>
    <title>Welcome to Hangman!</title>
</head>

<body>
    <h1>Welcome to Hangman game!</h1>

    <h2>Rules</h2>
    <p>
        <ul>
            <li>Computer randomly chooses a secret word</li>
            <li>You have 8 attempts to guess the word</li>
            <li>Every incorrect guess reduces attempts by 1</li>
            <li>If you submit a letter that you've already tried, attempts are not reduced</li>
        </ul>
    </p>
    <h3>Ready to start?</h3>
    <button onclick="location.href = '/hangman';">Yes</button>
</body>