<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    {% if logged_in %}
    {{login_state}}
    <br>
    <a href="{{ url_for('index')}}">Play a random game</a>
    {% else %}
    <h2>Give your user a nickname!</h2>
    <form action="{{ url_for('register') }}" method="POST" autocomplete="off">
        <div class="row">
            <div class="one column">
                <input type="text" , value="" name="nickname" maxlength="100" size="50" />
            </div>
            <div class="two columns">
                <p><input class="button-primary" type="submit" value="Create player" /></p>
            </div>
        </div>
    </form>

    {% endif %}
    
    
    
</body>

</html>